<%= form_for @assignment do |f| %>

  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@assignment.errors.count, "error") %> prohibited
        this assignment from being saved:
      </h2>
      <ul>
        <% @assignment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, 'class' => 'form-control' %>
    </p>
  </fieldset>

  <fieldset class="form-group">
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, 'class' => 'form-control' %>
    </p>
  </fieldset>

  <fieldset class="form-group">
    <p>
      <%= f.label :run_script %><br>
      <%= f.text_area :run_script, 'class' => 'form-control' %>
      <%= f.hidden_field :run_script %>
    </p>
  </fieldset>

  <div class="form-horizontal">
    <%= f.fields_for :file_specs do |fsf| %>
      <fieldset class="form-group">
        <%= fsf.label :name, 'Submitted Filename', 'class' => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <div class="input-group">
            <%= fsf.text_field :name, 'class' => 'form-control' %>
            <span class="input-group-addon">
              <%= fsf.check_box :_destroy %>
              <%= fsf.label :_destroy, 'Delete' %>
            </span>
          </div>
        </div>
      </fieldset>
    <% end %>

    <fieldset class="form-group">
      <%= f.fields_for "file_specs_attributes[#{@assignment.file_specs.size}]", @assignment.file_specs.build do |fsf| %>
        <%= fsf.label :name, 'Submitted Filename', 'class' => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= fsf.text_field :name, 'class' => 'form-control' %>
        </div>
      <% end %>
    </fieldset>
  </div>

  <p>
    <%= f.submit 'class' => 'btn btn-primary' %>
  </p>

<% end %>
