<%= form_for([@assignment, @assignment.submissions.build]) do |f| %>
  <fieldset class="form-group">
    <p>
      <%= f.label :author %><br>
      <%= f.text_field :author, 'class' => 'form-control' %>
    </p>
  </fieldset>

  <fieldset>
    <p>
      <%= f.label :code %><br>
      <%= f.file_field :code, accept: '.sh' %>
    </p>
  </fieldset>
  <p>
    <%= f.submit 'class' => 'btn btn-primary' %>
  </p>
<% end %>
