<p>
  <strong>Author:</strong>
  <%= submission.author %>
</p>

<% submission.submitted_files.each do |file| %>
  <p>
    <strong><%= file.file_spec.name %>:</strong>
    <pre><%= file.data %></pre>
  </p>
<% end %>

<% if submission.pending %>
  <strong>Pending</strong>
<% else %>
  <strong>Output:</strong>
  <pre><%= submission.output %></pre>
<% end %>

<p>
  <%= link_to 'Destroy Submission', [submission.assignment, submission],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
